@model StudentTrainingPortal.Models.Exam

@{
    ViewData["Title"] = "ExamView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Questions = Model.Questions.ToList();
}
<h1>Exam View</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div>
    <a asp-action="Index">Back to List</a>
</div>
<form asp-action="ExamView" asp-controller="Exams" class="pb-3">
    <div class="mb-3">
        <h2>@Html.DisplayNameFor(model => model.Title)</h2>
        <input class="d-none" value="@Model.Id" name="ExamID" />
        <dl class="row">
            @Html.HiddenFor(model => model.Id)
            <dt class="col-sm-2">
                Prepared By
            </dt>
            <dd class="col-sm-10">
                @Model.Teacher.Name
            </dd>
        </dl>
        <div class="row">
            <div class="form-group">
                <label class="form-label">Student :</label>
                <select class="form-select" name="StudentId">
                    <option disabled selected>----- Choose a Student -----</option>
                    @foreach (var student in Model.Students)
                    {
                        <option value="@student.Id">@student.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="mb-3">
        @for (int i = 0; i < Questions.Count; i++)
        {
            <div class="row row-cols-2 py-3">
                <div class="col card card-primary">
                    <div class="card-header">
                        <h2 class="card-title">@Questions[i].Title | Score : @Questions[i].MaxScore</h2>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Question : </label>
                            <input class="d-none" name="Questions[@i].Id" value="@Questions[i].Id" />
                            <input class="form-control" value="@Questions[i].Image" readonly />
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input class="d-none" name="Answers[@i].Id" value="0" />
                            <label class="form-label">Answer : </label>
                            <input class="form-control" name="Answers[@i].Content" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>