@model IEnumerable<StudentTrainingPortal.Models.Teacher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Exams
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @if (item.Exams != null)
                    {
                        @foreach (var exam in item.Exams)
                        {
                            <div class="card">
                                <div class="card-title">
                                    <a asp-action="Details" asp-controller="Exams" asp-route-id="@exam.Id">@exam.Title</a>
                                </div>
                                <div class="card-body">
                                    @foreach (var student in exam.Students)
                                    {
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a asp-action="Details" asp-controller="Students" asp-route-id="@student.Id">@student.Name</a>
                                            </div>
                                            <div class="col-md-6">
                                                @if (exam.Answers.Any(i => i.Student.Id == student.Id))
                                                {
                                                    @if(exam.IsEvaluated(student))
                                                    {
                                                        @Html.ActionLink("(Evaluated)", "EvaluationDetails","Exams", new { examId = exam.Id, studentId = student.Id}, htmlAttributes: new {  })
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("(Evaluate)", "ExamEvaluate","Exams", new { examId = exam.Id, studentId = student.Id}, htmlAttributes: new {  })
                                                    }
                                                }
                                                else
                                                {
                                                    <p>(not Solved)</p>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
